<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <h1>STUDENT'S IDENTITY CARD</h1>
     <p><span th:text="'Student Name: '+${model.studentname}"></span></p>
     <p><span th:text="'Class: '+${model.classroom}"></span></p>
     <p><span th:text="'Roll No: '+${model.rollno}"></span></p
     <p><span th:text="'Academic Year: '+${model.academicyear}"></span></p>
     <p><span th:text="'Birth Date: '+${model.birthdate}"></span></p>
     <p><span th:text="'Address: '+${model.address}"></span></p>
     <p><span th:text="'Contact No: '+${model.contactno}"></span></p>
    
 <body>
</html>