<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <title>ID Card Generator</title><header>
        <h1>STUDENT'S IDENTITY CARD</h1>

</header>
<body>
    <div class="whitediv">
        <label ><h3>Student Name:</h3></label>
        <label><h3>Class:</h3></label>
        <label><h3>Roll No:</h3></label>
        <label><h3>Academic Year:</h3></label>
        <label><h3>Birth Date:</h3></label>
        <label><h3>Address:</h3></label>
        <label><h3>Contact No:</h3></label>   

    </div> 
</body>
</html>